<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anne's Cupcakes</title>
    <link rel="stylesheet" href="design.css">
    <!-- Enter stylesheet correctly -->
</head>
<body>
    <h1>Anne's Cupcakes</h1>

    {% for cupcake in cupcakes %}
        <h2>{{ cupcake["name"] }}</h2>
        <h3>Price: {{ cupcake["price"] }}</h3>
        <h3>Flavor: {{ cupcake["flavor"] }}</h3>
        <h3>Frosting: {{ cupcake["frosting"] }}</h3>
        <h3>Filling: {{ cupcake["filling"] }}</h3>
        <h3>Sprinkles: {{ cupcake["sprinkles"] }}</h3>
        <a href="{{ url_for('add_cupcake', name=cupcake['name']) }}">
            <button>Add to Cart</button>
        </a>"
    {% endfor %}

</body>
</html>